.App {
  background-color: darkcyan;
  height: 100vh;
  width: 100vw;
}
#editor, #preview {
  width: 40vw;
  height: 30vh;
  padding: 5px;
  margin: auto;
  text-align: left;
  overflow: scroll;
}
#editor{
  background-color: darkgrey;
}
#preview{
  background-color: grey;
}
@media screen and (min-width: 800px) {
  #editor, #preview {
    width: 35vw;
    height: 60vh;
    padding: 10px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
